<% include partials/top %>
<main>
<h1>WELCOME</h1>
<p>To the best website ever all about</p>
<h2><% for (var i = 0; i < title.length; i++) { %><span class="ft"><%= title[i] %></span><% } %></h2>
<figure>
  <img src="img/spockercat.jpg"/>
</figure>
</main>
<% include partials/bot %>
